<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面"/>
    <meta name="keywords" content="index"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" th:href="@{/i/favicon.png}"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{/i/app-icon72x72@2x.png}"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <script th:src="@{/js/echarts.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/amazeui.datatables.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
    <script th:src="@{/js/jquery.min.js}"></script>

</head>

<body data-type="customer-details">
<script th:src="@{/js/theme.js}"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <header>
        <!-- logo -->
        <div class="am-fl tpl-header-logo">
            <a href="javascript:;"><img th:src="@{/img/logo.png}" alt=""/></a>
        </div>
        <!-- 右侧内容 -->
        <div class="tpl-header-fluid">
            <!-- 侧边切换 -->
            <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
            </div>
            <!-- 搜索 -->
            <div class="am-fl tpl-header-search">
                <form class="tpl-header-search-form" action="javascript:;">
                    <button class="tpl-header-search-btn am-icon-search"></button>
                    <input class="tpl-header-search-box" type="text" placeholder="搜索内容..."/>
                </form>
            </div>
            <!-- 其它功能-->
            <div class="am-fr tpl-header-navbar">
                <ul>
                    <!-- 欢迎语 -->
                    <li class="am-text-sm tpl-header-navbar-welcome">
                        <a href="javascript:;">欢迎你, <span th:text="${session.username}"> </span> </a>
                    </li>

                    <!-- 退出 -->
                    <li class="am-text-sm">
                        <a href="/logout">
                            <span class="am-icon-sign-out"></span> 退出
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </header>
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div class="left-sidebar">
        <!-- 用户信息 -->
        <div class="tpl-sidebar-user-panel">
            <div class="tpl-user-panel-slide-toggleable">
                <div class="tpl-user-panel-profile-picture">
                    <img th:src="@{/img/user04.png}" alt=""/>
                </div>
                <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
              <span th:text="${session.username}"></span>
          </span>
                <a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>
            </div>
        </div>

        <!-- 菜单 -->
        <ul class="sidebar-nav">
            <li class="sidebar-nav-heading">Components <span class="sidebar-nav-heading-info"> 附加组件</span></li>
            <li class="sidebar-nav-link">
                <a th:href="@{index.html}" class="active">
                    <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a th:href="@{/tables/industrial?page=1}">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 收入数据查看
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="javascript:;" class="sidebar-nav-sub-title">
                    <i class="am-icon-money sidebar-nav-link-logo"></i> 销售分析
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub">
                    <li class="sidebar-nav-link">
                        <a th:href="@{/sell/kpi}">
                            <span class="am-icon-line-chart sidebar-nav-link-logo"></span> kpi分析
                        </a>
                    </li>

                    <li class="sidebar-nav-link">
                        <a th:href="@{/sell/order}">
                            <span class="am-icon-gavel sidebar-nav-link-logo"></span> 订单明细
                        </a>
                    </li>

                    <li class="sidebar-nav-link">
                        <a th:href="@{/sell/product}">
                            <span class="am-icon-cubes sidebar-nav-link-logo"></span> 产品分析
                        </a>
                    </li>

                    <li class="sidebar-nav-link">
                        <a th:href="@{/sell/customer}">
                            <span class="am-icon-suitcase sidebar-nav-link-logo"></span> 客户分析
                        </a>
                    </li>

                    <li class="sidebar-nav-link">
                        <a th:href="@{/sell/net}">
                            <span class="am-icon-area-chart sidebar-nav-link-logo"></span> 网络分析
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-nav-link">
                <a th:href="@{sign-up.html}">
                    <i class="am-icon-clone sidebar-nav-link-logo"></i> 注册
                    <span class="am-badge am-badge-secondary sidebar-nav-link-logo-ico am-round am-fr am-margin-right-sm">6</span>
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a th:href="@{login.html}">
                    <i class="am-icon-key sidebar-nav-link-logo"></i> 登录
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a th:href="@{404.html}">
                    <i class="am-icon-tv sidebar-nav-link-logo"></i> 404错误
                </a>
            </li>

        </ul>
    </div>


    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">


        <div class="row-content am-cf">
            <div class="row  am-cf">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">商品销售大类</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body  widget-body-lg am-fr">
                        <div style="height: 400px" id="charts-customer-big-type"></div>

                    </div>
                </div>
            </div>

            <div class="row  am-cf">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">商品销售小类</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body  widget-body-lg am-fr">
                        <div style="height: 600px" id="charts-customer-small-type"></div>

                    </div>
                </div>
            </div>

            <div class="row  am-cf">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">商品销售小类</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body  widget-body-lg am-fr">
                        <div style="height: 600px" id="charts-customer-pay-type"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/amazeui.min.js}"></script>
<script th:src="@{/js/amazeui.datatables.min.js}"></script>
<script th:src="@{/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/js/app.js?v=sdfsfs}"></script>
<script th:src="@{/js/dark.js}"></script>
<script th:src="@{/js/dataTables/productsDataTables.js}"></script>
</body>

</html>