<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhaokxkx13.dao.inf.CompanyMapper">
    <resultMap id="BaseResultMap" type="com.zhaokxkx13.dao.entity.Company">
        <result column="company_id" property="id" jdbcType="INTEGER"/>
        <result column="company_name" property="name" jdbcType="VARCHAR"/>
        <result column="company_area" property="area" jdbcType="VARCHAR"/>
        <result column="company_city" property="city" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectById" parameterType="Integer" resultMap="BaseResultMap">
        SELECT
        c.id AS company_id,
        c.name AS company_name,
        c.area AS company_area,
        c.city AS company_city
        FROM
        company c
        WHERE
        c.id = #{id}
    </select>

    <select id="selectByName" parameterType="string" resultMap="BaseResultMap">
        SELECT
            c.id   AS company_id,
            c.name AS company_name,
            c.area AS company_area,
            c.city AS company_city
        FROM
            company c
        WHERE
            c.name = #{name}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            c.id   AS company_id,
            c.name AS company_name,
            c.area AS company_area,
            c.city AS company_city
        FROM
            company c
    </select>
</mapper>