<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhaokxkx13.dao.inf.EmployeeMapper">
    <resultMap id="BaseResultMap" type="com.zhaokxkx13.dao.entity.Employee">
        <result column="employee_id" property="id" jdbcType="INTEGER"/>
        <result column="employee_name" property="name" jdbcType="VARCHAR"/>
        <result column="employee_sex" property="sex" jdbcType="VARCHAR"/>
        <result column="employee_birth" property="birth" jdbcType="DATE"/>
        <result column="employee_rank" property="rank" jdbcType="VARCHAR"/>
        <result column="employee_education" property="education" jdbcType="VARCHAR"/>
        <result column="employee_type" property="type" jdbcType="VARCHAR"/>
        <result column="employee_salery" property="salery" jdbcType="DOUBLE"/>
        <result column="employee_tel" property="tel" jdbcType="VARCHAR"/>
        <association property="company" javaType="com.zhaokxkx13.dao.entity.Company" column="company_id"
                     select="com.zhaokxkx13.dao.inf.CompanyMapper.selectById" fetchType="eager"/>
        <association property="department" javaType="com.zhaokxkx13.dao.entity.Department" column="department_id"
                     select="com.zhaokxkx13.dao.inf.DepartmentMapper.selectById" fetchType="eager"/>
    </resultMap>

    <resultMap id="RawResultMap" type="com.zhaokxkx13.dao.entity.Employee">
        <result column="employee_id" property="id" jdbcType="INTEGER"/>
        <result column="employee_name" property="name" jdbcType="VARCHAR"/>
        <result column="employee_sex" property="sex" jdbcType="VARCHAR"/>
        <result column="employee_birth" property="birth" jdbcType="DATE"/>
        <result column="employee_rank" property="rank" jdbcType="VARCHAR"/>
        <result column="employee_education" property="education" jdbcType="VARCHAR"/>
        <result column="employee_type" property="type" jdbcType="VARCHAR"/>
        <result column="employee_salery" property="salery" jdbcType="DOUBLE"/>
        <result column="employee_tel" property="tel" jdbcType="VARCHAR"/>
        <result column="employee_company_id" property="companyId" jdbcType="INTEGER"/>
        <result column="employee_department_id" property="departmentId" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="mapedResultMap" type="java.util.HashMap">
        <result column="id" property="id" javaType="java.lang.Integer"/>
        <result column="month(hire_date)" property="month(hire_date)" javaType="java.lang.Integer"/>
        <result column="month(leave_date)" property="month(leave_date)" javaType="java.lang.Integer"/>
    </resultMap>
    <select id="selectByName" resultMap="BaseResultMap" parameterType="String">
        SELECT
        e.id AS employee_id,
        e.name AS employee_name,
        e.sex AS employee_sex,
        e.birth AS employee_birth,
        e.rank AS employee_rank,
        e.education AS employee_education,
        e.type AS employee_type,
        e.salery AS employee_salery,
        e.tel AS employee_tel,
        e.company_id,
        e.department_id
        FROM
        employee e
        WHERE
        e.name = #{name}
    </select>

    <select id="selectById" parameterType="Integer" resultMap="BaseResultMap">
        SELECT
        e.id AS employee_id,
        e.name AS employee_name,
        e.sex AS employee_sex,
        e.birth AS employee_birth,
        e.rank AS employee_rank,
        e.education AS employee_education,
        e.type AS employee_type,
        e.salery AS employee_salery,
        e.tel AS employee_tel,
        e.company_id,
        e.department_id
        FROM
        employee e
        WHERE
        e.id = #{id}
    </select>

    <select id="selectCompanyEmployeeCount" resultType="java.util.HashMap">
        SELECT
            company_id,
            count(id)
        FROM employee
        WHERE type = 'contract' AND leave_date IS NULL
        GROUP BY company_id
    </select>

    <select id="selectEmployeeFlow" resultMap="mapedResultMap" parameterType="map">
        SELECT
            id,
            month(hire_date),
            month(leave_date)
        FROM employee
        WHERE type = 'contract'
              AND hire_date >= #{startDate}
              AND leave_date >= #{startDate}
              AND now() >= hire_date
              AND now() >= leave_date
    </select>

    <select id="selectByCompanyId" resultMap="RawResultMap" parameterType="Integer">
        SELECT
            e.id        AS employee_id,
            e.name      AS employee_name,
            e.sex       AS employee_sex,
            e.birth     AS employee_birth,
            e.rank      AS employee_rank,
            e.education AS employee_education,
            e.type      AS employee_type,
            e.salery    AS employee_salery,
            e.tel       AS employee_tel,
            e.company_id,
            e.department_id
        FROM
            employee e
        WHERE
            e.company_id = #{companyId}
    </select>

    <select id="selectSexBalance" resultType="java.util.HashMap" parameterType="map">
        SELECT
            sex,
            count(id)
        FROM employee
        WHERE type = 'contract' AND leave_date IS NULL
        GROUP BY sex
    </select>

    <select id="selectEducationBalance" resultType="java.util.HashMap" parameterType="map">
        SELECT
            education,
            count(id)
        FROM employee
        WHERE type = 'contract' AND leave_date IS NULL
        GROUP BY education
    </select>

    <select id="selectEmployeeRank" resultType="java.util.HashMap" parameterType="map">
        SELECT
            rank,
            count(id)
        FROM employee
        WHERE type = 'contract' AND leave_date IS NULL
        GROUP BY rank
    </select>

    <select id="selectAgeBalance" resultType="java.util.HashMap" parameterType="map">
        SELECT
            concat(convert(age * 10, CHAR(10)), '--', convert((age + 1) * 10, CHAR(10))) AS balance,
            count(age)
        FROM (SELECT floor(datediff(now(), birth) / 3650) AS age
              FROM employee
              WHERE type = 'contract' AND leave_date IS NULL) AS em
        GROUP BY age
    </select>

    <select id="selectAll" resultMap="RawResultMap">
        SELECT
            e.id            AS employee_id,
            e.name          AS employee_name,
            e.sex           AS employee_sex,
            e.birth         AS employee_birth,
            e.rank          AS employee_rank,
            e.education     AS employee_education,
            e.type          AS employee_type,
            e.salery        AS employee_salery,
            e.tel           AS employee_tel,
            e.company_id    AS employee_company_id,
            e.department_id AS employee_department_id
        FROM
            employee e
    </select>
</mapper>