<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhaokxkx13.dao.inf.OrderMapper">
    <resultMap id="BaseOrder" type="com.zhaokxkx13.dao.entity.Order">
        <result column="order_id" property="id" jdbcType="INTEGER"/>
        <result column="order_date" property="date" jdbcType="DATE"/>
        <result column="receiver" property="receiver" jdbcType="VARCHAR"/>
        <result column="sender" property="sender" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="freight" property="freight" jdbcType="DOUBLE"/>
        <result column="employee_id" property="employeeId" jdbcType="INTEGER"/>
        <result column="customer_id" property="customerId" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="BaseResultMap" type="com.zhaokxkx13.dao.entity.Order">
        <result column="order_id" property="id" jdbcType="INTEGER"/>
        <result column="order_date" property="date" jdbcType="DATE"/>
        <result column="receiver" property="receiver" jdbcType="VARCHAR"/>
        <result column="sender" property="sender" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="freight" property="freight" jdbcType="DOUBLE"/>
        <association property="employee" column="employee_id" javaType="com.zhaokxkx13.dao.entity.Employee"
                     select="com.zhaokxkx13.dao.inf.EmployeeMapper.selectById" fetchType="eager"/>
        <association property="customer" column="customer_id" javaType="com.zhaokxkx13.dao.entity.Customer"
                     select="com.zhaokxkx13.dao.inf.CustomerMapper.selectById" fetchType="eager"/>
    </resultMap>

    <select id="selectById" parameterType="Integer" resultMap="BaseResultMap">
        SELECT
        o.id AS order_id,
        o.date AS order_date,
        o.employee_id,
        o.customer_id,
        o.sender,
        o.receiver,
        o.freight,
        o.address
        FROM orders o
        WHERE
        o.id = #{id}
    </select>

    <select id="selectByIdRaw" parameterType="Integer" resultMap="BaseOrder">
        SELECT
        o.id AS order_id,
        o.date AS order_date,
        o.sender,
        o.receiver,
        o.freight,
        o.address
        FROM orders o
        WHERE
        o.id = #{id}
    </select>

    <select id="selectByCustomerId" resultMap="BaseOrder">
        SELECT
        o.id as order_id,
        o.date as order_date,
        o.sender,
        o.receiver,
        o.freight,
        o.address
        FROM orders o
        <where>
            AND o.customer_id IN
            <foreach collection="list" item="customerId" open="(" close=")" separator="," index="index">
                #{customerId}
            </foreach>
        </where>
    </select>

    <select id="selectByDate" parameterType="Map" resultMap="BaseResultMap">
        SELECT
        o.id as order_id,
        o.date as order_date,
        o.employee_id,
        o.customer_id,
        o.sender,
        o.receiver,
        o.freight,
        o.address
        FROM orders o
        <where>
            <if test="startDate!=null">
                o.date >= #{startDate}
            </if>
            <if test="endDate!=null">
                and #{endDate} >= o.date
            </if>
        </where>
    </select>

    <select id="selectAll" resultMap="BaseOrder">
        SELECT
            o.id   AS order_id,
            o.date AS order_date,
            o.sender,
            o.receiver,
            o.freight,
            o.employee_id,
            o.customer_id,
            o.address
        FROM orders o
    </select>

    <insert id="insertAll" useGeneratedKeys="true" parameterType="java.util.List">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        INSERT INTO orders (date, employee_id, customer_id, sender, receiver, freight, address) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.date},#{item.employeeId},#{item.customerId},#{item.sender},#{item.receiver},#{item.freight},#{item.address})
        </foreach>
    </insert>
</mapper>