<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhaokxkx13.dao.inf.UserMapper">
    <resultMap id="BaseResultMap" type="com.zhaokxkx13.dao.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="salt" property="salt" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="DATE"/>
    </resultMap>
    <resultMap id="UserRoleMap" type="com.zhaokxkx13.dao.entity.User" extends="BaseResultMap">
        <collection property="roleList" ofType="com.zhaokxkx13.dao.entity.Role">
            <id column="roleId" property="id" jdbcType="INTEGER"/>
            <result column="roleName" property="name" jdbcType="VARCHAR"/>
            <result column="roleDescription" property="description" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        id, uid, username, password, salt, create_date
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.zhaokxkx13.dao.entity.User">
        insert into user ( uid, username,
        password, salt, create_date
        )
        values ( #{uid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.zhaokxkx13.dao.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="salt != null">
                salt,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                #{salt,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=DATE},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zhaokxkx13.dao.entity.User">
        update user
        <set>
            <if test="uid != null">
                uid = #{uid,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=DATE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zhaokxkx13.dao.entity.User">
        update user
        set uid = #{uid,jdbcType=VARCHAR},
        username = #{username,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR},
        salt = #{salt,jdbcType=VARCHAR},
        create_date = #{createDate,jdbcType=DATE}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectRoleByUserName" parameterType="String" resultMap="UserRoleMap">
        select
        u.id,
        u.uid,
        u.username,
        u.password,
        u.salt,
        u.create_date as create_date,
        r.name as roleName,
        r.id as roleId,
        r.description as roleDescription
        from user u left JOIN user_role ur ON u.id = ur.userid LEFT
        JOIN role r ON ur.roleid = r.id WHERE u.username = #{username}
    </select>
    <cache/>
</mapper>