<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhaokxkx13.dao.inf.UserRoleMapper">
    <delete id="deleteById" parameterType="java.util.HashMap">
        DELETE FROM user_role
        WHERE userid = #{userId} AND roleid = #{roleId}
    </delete>

    <insert id="insertUserRole" parameterType="java.util.HashMap">
        INSERT INTO user_role (userid, roleid) VALUES (#{userId}, #{roleId})
    </insert>
    <cache/>
</mapper>